gpujpeg
.libs
src/*.o
src/*.lo
*.rgb
configure
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
depcomp
install-sh
libgpujpeg.pc
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.dirstamp
stamp-h1
libgpujpeg.la

