configure
Makefile
config.h
config.h.in
*.o
*.lo
*.txt
*.mp4
*.h264
*.log
uv
bin/
/build*/
lib/
aclocal.m4
autom4te.cache
config.log
config.status
src/version.h
*.sw?
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*~
vgcore.*
cscope.*
tags
ag_plugin
src/stamp-h1
.DS_Store
uv.app/Contents/libs/
depcomp
compile
core
m4/
libtool
ltmain.sh
mtrace.txt
.project
*.sdp
test-driver
src/dir-stamp
test/run_tests
unittest/run_tests

