configure
Makefile
config.h
config.h.in
*.o
uv
bin/
lib/
aclocal.m4
autom4te.cache
config.log
config.status
src/version.h
*.sw?
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*~
vgcore.*
cscope.*
tags
ag_plugin
src/stamp-h1
