name: coverity-scan

on:
  schedule:
    - cron:  '0 6 * * *' # Daily at 6:00 UTC
  push:
    branches:
      - coverity_scan

jobs:
  Coverity:
    if: github.repository == 'CESNET/UltraGrid' || github.event == 'push'
    runs-on: ubuntu-latest
    env:
      sdk_pass: ${{ secrets.sdk_pass }}
      coverity_token: ${{ secrets.coverity_token }}

    steps:
    - name: Download Coverity build tool
      run: |
        cd /tmp
        wget --no-verbose https://scan.coverity.com/download/linux64 --post-data "token=$coverity_token&project=UltraGrid" -O coverity_tool.tgz
        tar xaf coverity_tool.tgz
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: bootstrap
      run: .github/scripts/Linux/prepare.sh
    - name: configure
      run: ./autogen.sh --enable-qt --with-cuda-host-compiler=gcc-6 --enable-plugins --with-live555=/usr/local
    - name: Build with cov-build
      run: |
        /tmp/cov-analysis*/bin/cov-build --dir cov-int make -j4
    - name: Submit the result to Coverity Scan
      run: |
        tar caf ultragrid.tar.xz cov-int
        curl --form token=$coverity_token \
          --form email=pulec@cesnet.cz \
          --form file=@ultragrid.tar.xz \
          --form version="$(date +%F)" \
          --form description="master build" \
          https://scan.coverity.com/builds?project=UltraGrid

# vi: set expandtab sw=2:
